@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f3;
  padding: 1%;
  font-size:1rem;
  font-family: "Ubuntu Sans Mono", monospace;
}

main {
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: #ffffff;

  display: flex;
}

.sideNav {
  width: 20%;
  height: 100%;
  background-color: #f9fafb;
  font-family: "Nunito", "sans-serif";
  border-right: 2px solid #f1f1f2;
  border-radius: 5px 0 0 5px;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Events {
  height: 100%;
  width: 55%;
  border-right: 2px solid #edeeee;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 10%;
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.SearchBar {
  height: 60%;
  width: 50%;
  border: 2px solid #f5f5f6;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeadNav {
  height: 25%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Event {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Event::-webkit-scrollbar {
  display: none;
}

.EventCard{
  margin-top: 1.25rem;
  border: 2px solid rgb(215, 215, 215);
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

.People {
  height: 100%;
  width: 25%;
  background-color: #f9fafb;
  font-family: "Nunito", "sans-serif";

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Extra small devices (300px and down) */
/* @media screen and (max-width: 300px) {
  #root {
    display: none;
  }
} */

/* Extra small devices (phones, 300px and up) */
@media screen and (min-width: 320px) and (max-width: 425px) {
  #root {
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
  }
  /* main {
    width: 100%;
    height: 100%;
  }
  article {
    width: 100%;
    height: 100%;
  } */
  .sideNav {
    height: 100%;
    width: 90%;
    position: absolute;
    display: none;
  }
  .People {
    position: absolute;
    display: none;
  }
  .Events {
    height: 100%;
    width: 100%;
    /* position: absolute; */
  }
  .SearchBar{
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  /* .HeadNav {
    display: none;
  } */
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { */
/* } */
